* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.centr {
    padding-left: calc(50% - 585px);
    padding-right: calc(50% - 585px);
}

header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 40px;
    text-decoration: none;
}

a {
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    color: black;
}

.home {
    color: #F25822
}


.content {
    margin-top: 84px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 148px;
}

.heading {
    margin-bottom: 17px;
}

.text {
    width: 466px;
    height: 48px;
    font-size: 20px;
    line-height: 23px;
    color: #888888;
    margin-bottom: 37px;
}


.top_buttons {
    display: flex;
    align-items: center;
    gap: 52px;
}

.top_buttons_now {
    width: 140px;
    height: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
    border-radius: 50px;
    border: white;
}

.top_buttons_video {
    width: 90px;
    height: 19px;
    border: white;
}

.paint {
    width: 610.73px;
    height: 372.9px;

}

footer {
    padding-top: 97px;
    padding-bottom: 96px;
    display: flex;
    justify-content: space-around;
}